@use '../../base/variables.scss';

.statistic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &__title {
        @extend %lato-400;
        font-size: 30px;
        letter-spacing: 0.3px;
    }

    &__text {
        color: variables.$neutral-600;
    }
}