div .user-preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
    text-align: center;

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
}
