@use "../../base/variables";
@use "../../utils/mixins.scss";

.link {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &--disactive {
        display: none;
    }

    @include mixins.hover() {
        .link-icon {
            background-color: variables.$primary;
        }
    }
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    background-color: variables.$neutral-800;
    transition: background-color 0.2s ease-in-out;
}
