.search {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__nothing {
        margin: 0 auto;
    }
}

.search-media {
    &__users {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        gap: 20px;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}