@use "../../base/variables";
@use "../../utils/mixins";

.input-bordered {
    width: 100%;

    padding: 15px 20px;
    min-height: 50px;
    border-radius: 4px;
    border: 1px solid variables.$neutral-500;
    background-color: transparent;
    outline: none;
    transition: all .2s ease-in-out;

    &--error {
        border-color: red;
    }

    &__span--error {
        color: red;
    }

    &,
    &::placeholder {
        letter-spacing: .14px;
        color: variables.$neutral-500;
    }

    @include mixins.not-disabled() {
        &:focus {
            border-color: variables.$primary;
        }
    };
}